<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ league_info['name'] }}</title>
  <meta name="author" content="Thomas">


  <!-- Bootstrap
        ================================================== -->
  <link rel="stylesheet" href="{{ static_url('weui/lib/weui.css') }}">
  <link href="{{ static_url('newsup/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Animate
        ================================================== -->
  <link href="{{ static_url('newsup/css/effect2.css') }}" rel='stylesheet' type='text/css' />
  <link href="{{ static_url('newsup/css/animate.css') }}" rel='stylesheet' type='text/css' />

  <!-- Add fancyBox CSS files -->
  <link href="{{ static_url('newsup/js/fancybox/jquery.fancybox.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Owl Slider CSS -->
  <link href="{{ static_url('newsup/css/owl.carousel.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.theme.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.transitions.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <!-- Custom Css
        ================================================== -->
  <link href="{{ static_url('newsup/css/rs-wp-v1.2.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jquery.rs.selectbox.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/responsive.css') }}" rel="stylesheet" type="text/css" />

  <!-- Custom Fonts
        ================================================== -->
  <link href="{{ static_url('newsup/fonts/stylesheet.css') }}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.1.11.1.js') }}"></script>

</head>

<body>

  <!--- Wrapper -->
  <section id="wrapper" class="clearfix">

    <!--- Header -->
    <header>

      <!-- socialbar -->
      {% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
      <!-- /socialbar -->

      <!-- menubar -->
      {% module Template("newsup/block-menubar.html", is_login=is_login, is_ops=is_ops, league_info=league_info) %}
      <!-- /menubar -->

    </header>
    <!--- End Header -->

    <!-- Page Breadcrumb -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-breadcrumb">
            <a href="/portal/newsup/index"><span>首页</span></a>
            <span>></span>
            <a href="/portal/auth/register"><span>个人信息</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Breadcrumb -->

    <!-- Section Register -->
    <section id="rst-account-page">
      <div class="container">
        <div class="row">
          <form>

            <!-- uploading toast -->
            <div id="loadingToast" class="weui_loading_toast" style="display:none;">
                <div class="weui_mask_transparent"></div>
                <div class="weui_toast">
                    <div class="weui_loading">
                        <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                        <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                    </div>
                    <p class="weui_toast_content">图片上传中...</p>
                </div>
            </div>

            <div class="col-sm-8">
              <div class="rst-section-title rst-section-title-box">
                <h4>个人信息修改</h4>
              </div>
              <!-- end section title -->
              <div class="rst-accsetting">
                <div class="rst-account-setting">
                  <div class="rst-setting">
                    <span>昵称</span>
                    <input class="rst-pageinput" type="text" id="nickName" value="{{ user['nickname'] }}" placeholder="昵称" />
                  </div>
                  <div class="rst-setting">
                    <span>手机号码</span>
                    <input class="rst-pageinput" type="text" id="phone" style="background:#eaeaea;" readOnly="true" value="{{ user['login'] }}" />
                  </div>
                  <div class="rst-account-img">
                    <img id="user_img" src="{{ user['avatar'] }}" alt="touxiang" />
                    <input class="rst-pagebutton" type="button" value="更改" onclick="openBrowse()" />
                    <input type="file" id="file" name="file" style="display:none;">
                  </div>
                  <input class="rst-pagebutton" type="button" value="保存" onclick="saveInfo();"/>
                  <input class="rst-pagebutton" type="button" value="取消" onclick="reset();" />
                </div>
              </div>
            </div>
<!--
            <div class="col-sm-4">
              <div class="rst-section-title rst-section-title-box">
                <h4>Social</h4>
              </div>
              <div class="rst-account-socials">
                <div class="rst-acc-social">
                  <i class="fa fa-facebook"></i>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="rst-acc-social">
                  <i class="fa fa-twitter"></i>
                  <a href="#">ADD</a>
                </div>
                <div class="rst-acc-social">
                  <i class="fa fa-dribbble"></i>
                  <a href="#"><i class="fa fa-times"></i></a>
                </div>
                <div class="rst-acc-social">
                  <i class="fa fa-behance"></i>
                  <a href="#">ADD</a>
                </div>
                <div class="clear"></div>
              </div>
            </div>
-->
          </form>
        </div>
      </div>
    </section>
    <!-- End Section Register -->

    <!-- Footer -->
    {% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
    <!-- End Footer -->

  </section>
  <!--- End Wrapper -->


  <!-- Bootstrap Js Compiled Plugins -->
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap-tagsinput.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/jqBootstrapValidation.js') }}"></script>

  <!-- WoW Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/wow.min.js') }}"></script>

  <!-- Add Fancybox -->
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/jquery.fancybox.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/helpers/jquery.fancybox-media.js') }}"></script>

  <!-- Owl Slider Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/owl.carousel.js') }}"></script>
  <!-- Custome Selectbox Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.rs.selectbox.js') }}"></script>

  <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>
  <!-- alert Scripts -->
  <script src="{{ static_url('weui/lib/fastclick.js') }}"></script>
  <script src="{{ static_url('weui/js/weui.js') }}"></script>
  <!-- fileinput -->
  <script src="{{ static_url('upyun/js/fileinput.min.js') }}"></script>
  <script src="{{ static_url('upyun/js/spark-md5.min.js') }}"></script>
  <script src="{{ static_url('upyun/js/async.js') }}"></script>
  <script src="{{ static_url('upyun/js/upyun-mu.js') }}"></script>

</body>

<script>

  function uuid() {
    var s = [];
    var hexDigits = "0123456789abcdef";
    for (var i = 0; i < 36; i++) {
      s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
    }
    s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
    s[8] = s[13] = s[18] = s[23] = "-";

    var uuid = s.join("");
    return uuid;
  }

  function uploadUpyun(file, elementId) {
    var ext = '.' + file.name.split('.').pop();

    var config = {
      // 空间名称
      bucket: '{{upyun_bucket}}',
      // 上传请求过期时间
      expiration: parseInt((new Date().getTime() + 3600000) / 1000),
      // 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
      form_api_secret: '{{upyun_form_api_secret}}'
    };

    var instance = new Sand(config);
    var options = {
      'notify_url': '{{upyun_notify_url}}'
    };
    instance.setOptions(options);
    instance.setElementId(elementId);

    var d = new Date();
    var month = d.getMonth() + 1;
    var filename = '/avatar/' + d.getFullYear() + '/' + month + '/' + d.getDate() + '/' + uuid() + ext;
    console.log(filename);
    instance.upload(filename);

    return '{{upyun_domain}}' + filename;
  };

  $("#file").on("change",function(){
      var times = 0;
      var imgUrl = uploadUpyun(this.files[0],"file");
      $('#loadingToast').show();
      document.addEventListener('uploaded',function(e){
        if(times == 0){
          $("#user_img").attr('src',imgUrl);
          $('#loadingToast').hide();
        }
        times ++;
      });
  });
</script>


<script type="text/javascript">

    function saveInfo(){
      var data = { nickname:$("#nickName").val(),
                   avatar:$("#user_img").attr('src'),
                 };
      var json = JSON.stringify(data);
      console.log(json);

      $.ajax({
        url:'{{api_domain}}/api/myinfo',
        type:'PUT',
        data:json,
        dataType: "json",
        headers: {"Authorization":"Bearer {{access_token}}"},
        contentType: 'application/json',
        success: function(data, status, xhr) {
          weui.Loading.success();
        },
        error:function(){
        }

      });

    };
    //file 打开文件
    function openBrowse(){
        var ie=navigator.appName=="Microsoft Internet Explorer" ? true : false;
        if(ie){
            document.getElementById("file").click();
            document.getElementById("filename").value=document.getElementById("file").value;
        }else{
            var a=document.createEvent("MouseEvents");//FF的处理
            a.initEvent("click", true, true);
            document.getElementById("file").dispatchEvent(a);
        }
    };
    $("#phone").val($("#phone").val().substring(0,3)+"****"+$("#phone").val().substring(7,11));

</script>

</html>
