<aside class="widget widget_contactus">
  <h3>联系我们</h3>
  <ul style="margin-top: 20px;">
    <li><a href="#"><span><i class="fa fa-user-o"></i> {{ club['name'] }} </span></a></li>
    <li><a href="#"><span><i class="fa fa-location-arrow"></i> {{ club['province'] }}{{ club['city'] }} </span></a></li>
    <li><a href="tel:{{ club['phone'] }}"><span><i class="fa fa-mobile"></i> {{ club['phone'] }}</span></a></li>
    <li><a href="mailto:support@7x24hs.com"><span><i class="fa fa-paper-plane"></i> {{ club['email'] }}</span></a></li>
  </ul>
</aside>
