<!-- Menu bar -->
<div class="rst-header-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-header-menu-content">
          <a class="rst-header-logo" href="/portal/newsup/index">
            <!-- <img src="/static/newsup/images/header-logo.png" alt="" /> -->
            <img src="/static/img/logo.png" alt="" width="80" heigth="80"/>
            <h1>{{ league_info['name'] }}</h1></a>
          <div id="rst-weather" class="rst-weather"></div>
          <button class="rst-menu-trigger">
            <span>Toggle navigation</span>
          </button>
          <ul>
            <li><a class="menu_scenery" href="#">景区导览</a></li>
            {% if is_login  and is_ops %}
            <li><a class="menu_supplier" href="#">供应商</a></li>
            {% end %}
            <li><a class="menu_activity" href="#">近期活动</a></li>
            <li><a class="menu_product" href="#">旅游产品</a></li>
            <li><a class="menu_news" href="#">旅游资讯</a></li>
            {% if is_login  and is_ops %}
            <li><a class="menu_require" href="#">景区需求</a></li>
            <li><a class="menu_community" href="#">经验交流</a></li>
            <li><a class="menu_supplier_product" href="#">供应商产品</a></li>
            <li><a class="menu_supplier_require" href="#">供应商需求</a></li>
            {% end %}
            <li><a class="menu_media" href="#">精彩瞬间</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu bar -->

<script type="text/javascript">

  $('.menu_scenery').click(function(){
     location.href = encodeURI(encodeURI("/portal/newsup/franchises?franchise_type=景区"));
  })
  $('.menu_supplier').click(function(){
     location.href = encodeURI(encodeURI("/portal/newsup/franchises?franchise_type=供应商"));
  })
  $('.menu_activity').click(function(){
     location.href = "/portal/newsup/category?id=0bbf89e2f73411e69a3c00163e023e51";
  })
  $('.menu_product').click(function(){
     location.href = "/portal/newsup/category?id=b0569f58144f11e78d3400163e023e51";
  })
  $('.menu_news').click(function(){
     location.href = "/portal/newsup/category?id=065f565e6bd711e7b46300163e023e51";
  })
  $('.menu_community').click(function(){
     location.href = "/portal/newsup/category?id=8853422e03a911e7998c00163e023e51";
  })
  $('.menu_require').click(function(){
     location.href = "/portal/newsup/category?id=01d6120cf73411e69a3c00163e023e51";
  })
  $('.menu_supplier_product').click(function(){
     location.href = "/portal/newsup/category?id=2a28cb78f73411e69a3c00163e023e51";
  })
  $('.menu_supplier_require').click(function(){
     location.href = "/portal/newsup/category?id=404228663a1711e7b21000163e023e51";
  })
  $('.menu_media').click(function(){
     location.href = "/portal/newsup/media";
  })
</script>
