<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/weui.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ static_url('weui/css/jquery-weui.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ static_url('leshui/css/order.css') }}" >
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
			<a class="menu_scenery" href="javascript:;">景区导览</a>
			<a class="menu_activity" href="javascript:;">近期活动</a>
			<a class="menu_product" href="javascript:;">旅游产品</a>
			<a class="menu_news" href="javascript:;">旅游资讯</a>
			<a class="menu_media" href="javascript:;">精彩瞬间</a>
			{% if is_login  and is_ops %}
			<a class="menu_require" href="javascript:;">景区需求</a>
			<a class="menu_community" href="javascript:;">经验交流</a>
			<a class="menu_supplier" href="javascript:;">供应商</a>
			<a class="menu_supplier_product" href="javascript:;">供应商产品</a>
			<a class="menu_supplier_require" href="javascript:;">供应商需求</a>
			{% end %}
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li class="menu_scenery"><a href="javascript:;">景区导览</a></li>
				<li class="menu_activity"><a href="javascript:;">近期活动</a></li>
				<li class="menu_product"><a href="javascript:;">旅游产品</a></li>
				<li class="menu_news"><a href="javascript:;">旅游资讯</a></li>
				<li class="menu_media"><a href="javascript:;">精彩瞬间</a></li>
				{% if is_login  and is_ops %}
				<li class="menu_require"><a href="javascript:;">景区需求</a></li>
				<li class="menu_community"><a href="javascript:;">经验交流</a></li>
				<li class="menu_supplier"><a href="javascript:;">供应商</a></li>
				<li class="menu_supplier_product"><a href="javascript:;">供应商产品</a></li>
				<li class="menu_supplier_require"><a href="javascript:;">供应商需求</a></li>
				{% end %}
			</ul>
		</div>
	<!-- 导航 -->

<!-- 主题内容 -->
<div class="order">
	<h1>会员中心</h1>
	<div class="order_left">
		<b>我的订单</b>
		<ul id="cent_dd">
			<li><span>全部订单</span><i>></i></li>
			<li><span>已付款订单</span><i>></i></li>
			<li><span>待付款订单</span><i>></i></li>
		</ul>
		<b>个人信息</b>
		<ul id="cent_pep">
			<li><span>修改密码</span><i>></i></li>
			<li><span>修改信息</span><i>></i></li>
			<li><span>实名认证</span><i>></i></li>
			<li><span>快递地址</span><i>></i></li>
		</ul>
	</div>
	<div class="order_right">
		<!-- 我的订单内容 -->
		<div class="center_dd">
			<div class="order_bot_title">
				<ul>
					<li class="order_hao">订单号</li>
					<li class="order_maney">金额(元)</li>
					<li class="order_zt">订单状态</li>
					<li class="order_xq">订单详情</li>
					<li class="order_set">操作</li>
				</ul>
			</div>
			<div id="order_right">
				<div class="order_main" id="order-wrap"></div>
				<div class="order_main" id="payed"></div>
				<div class="order_main" id="no-pay">

				</div>
			</div>
		</div>

		<!-- 个人信息内容 -->
		<div class="center_peple">
			<!-- 修改密码 -->
			<div class="zc_main">
				<h2>修改密码</h2>
				<ul>
					<li>
						<i>旧密码：</i>
						<input type="password" id="old-pwd" placeholder="请输入旧密码" />
					</li>
					<li>
						<i>新密码：</i>
						<input type="password" id="new-pwd" placeholder="请输入新密码" />
					</li>
					<li>
						<i>确认新密码：</i>
						<input type="password" id="new-pwd-once" placeholder="请再次输入新密码" />
					</li>
					<li style="display:none;" id="message">
						<span style="float:none;line-height: 0px;padding-left:40%;"></span>
					</li>
					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="button" id="revisepwd-btn" class="lo_login" value="确定" />
					</li>
				</ul>

			</div>
			<!-- 修改信息 -->
			<div class="zc_main">
				<h2>修改信息</h2>
				<form>
				<ul>
					<li>
						<i>昵称：</i>
						<input type="text" id="nickName" placeholder="昵称" value="{{ user['nickname'] }}" />
					</li>
					<li>
						<i class="yk_xb">性别：</i>
						  <p class="yk_pepl">
								{% if user['info']['gender'] == u'男' %}
						    <label>
						      <input type="radio" name="RadioGroup1" value="男" id="RadioGroup1_0" checked="checked" class="yk_label" />
						      男</label>
						    <label>
						      <input type="radio" name="RadioGroup1" value="女" id="RadioGroup1_1" class="yk_label" />
						      女</label>
								{% else %}
								<label>
						      <input type="radio" name="RadioGroup1" value="男" id="RadioGroup1_0" class="yk_label" />
						      男</label>
						    <label>
						      <input type="radio" name="RadioGroup1" value="女" id="RadioGroup1_1"  checked="checked" class="yk_label" />
						      女</label>
								{% end %}
						  </p>
					</li>
					<li>
						<i>手机号码：</i>
						<input type="text" placeholder="手机号码" value="{{ user['login'] }}" readOnly="true"/>
					</li>
					<li class="xx_tx">
						<i class="xx_tx">头像：</i>
						<img id="user_img" src="{{ user['avatar'] }}" alt="touxiang" style="width:180px;" />
						<input type="file" id="file" name="file" style="display:none;">
						<em class="xx_gg" onclick="openBrowse()">更改</em>
					</li>
					<li>
						<i>生日：</i>
						<select name="year" class="yk_happy1" id="year">
							{% for i in range(1950,2018) %}
								{% if int(user['info']['birth']['Y']) == i %}
									<option selected="">{{ i }}</option>
								{% else %}
									<option>{{ i }}</option>
								{% end %}
							{% end %}
						</select>
						<strong>年</strong>
						<select name="month" class="yk_happy" id="month">
							{% for i in range(1,13) %}
								{% if int(user['info']['birth']['M']) == i %}
						    	<option selected="">{{ i }}</option>
								{% else %}
									<option>{{ i }}</option>
								{% end %}
							{% end %}
						</select>
						<strong>月</strong>
						<select name="data" class="yk_happy" id="data">
							{% for i in range(1,32) %}
								{% if int(user['info']['birth']['D']) == i %}
									<option selected="">{{ i }}</option>
								{% else %}
									<option>{{ i }}</option>
								{% end %}
							{% end %}
						</select>
						<strong>日</strong>
					</li>
					<li>
						<i>群体：</i>
						<select name="age_stage" id="age_stage">
							{% if user['info']['age_stage'] == u'学生' %}
						    <option selected="">学生</option>
							{% else %}
								<option>学生</option>
							{% end %}
							{% if user['info']['age_stage'] == u'上班族' %}
						    <option selected="">上班族</option>
							{% else %}
								<option>上班族</option>
							{% end %}
							{% if user['info']['age_stage'] == u'中年' %}
						    <option selected="">中年</option>
							{% else %}
								<option>中年</option>
							{% end %}
							{% if user['info']['age_stage'] == u'老年' %}
						    <option selected="">老年</option>
							{% else %}
								<option>老年</option>
							{% end %}
							{% if user['info']['age_stage'] == u'其他' %}
						    <option selected="">其他</option>
							{% else %}
								<option>其他</option>
							{% end %}
						</select>
					</li>
					<li>
						<i>爱好：</i>
						<select name="hobby" id="hobby">
							{% if user['info']['hobby'] == u'徒步' %}
						    <option selected="">徒步</option>
							{% else %}
								<option>徒步</option>
							{% end %}
							{% if user['info']['hobby'] == u'骑行' %}
						    <option selected="">骑行</option>
							{% else %}
								<option>骑行</option>
							{% end %}
							{% if user['info']['hobby'] == u'露营' %}
						    <option selected="">露营</option>
							{% else %}
								<option>露营</option>
							{% end %}
							{% if user['info']['hobby'] == u'自驾' %}
						    <option selected="">自驾</option>
							{% else %}
								<option>自驾</option>
							{% end %}
							{% if user['info']['hobby'] == u'其他' %}
						    <option selected="">其他</option>
							{% else %}
								<option>其他</option>
							{% end %}
						</select>
					</li>
					<li>
						<i>婚姻状况：</i>
						<select name="marriage" id="marriage">
							{% if user['info']['marriage'] == u'单身' %}
						    <option selected="">单身</option>
							{% else %}
								<option>单身</option>
							{% end %}
							{% if user['info']['marriage'] == u'已婚' %}
						    <option selected="">已婚</option>
							{% else %}
								<option>已婚</option>
							{% end %}
							{% if user['info']['marriage'] == u'保密' %}
						    <option selected="">保密</option>
							{% else %}
								<option>保密</option>
							{% end %}
						</select>
					</li>
					<li>
						<i>月收入：</i>
						<select name="salary" id="salary">
							{% if user['info']['salary'] == u'2000元以下' %}
						    <option selected="">2000元以下</option>
							{% else %}
								<option>2000元以下</option>
							{% end %}
							{% if user['info']['salary'] == u'2000-3999' %}
						    <option selected="">2000-3999</option>
							{% else %}
								<option>2000-3999</option>
							{% end %}
							{% if user['info']['salary'] == u'4000-5999' %}
						    <option selected="">4000-5999</option>
							{% else %}
								<option>4000-5999</option>
							{% end %}
							{% if user['info']['salary'] == u'6000-7999' %}
						    <option selected="">6000-7999</option>
							{% else %}
								<option>6000-7999</option>
							{% end %}
							{% if user['info']['salary'] == u'8000元以上' %}
						    <option selected="">8000元以上</option>
							{% else %}
								<option>8000元以上</option>
							{% end %}
						</select>
					</li>
					<li>
						<i>教育程度：</i>
						<select name="education" id="education">
							{% if user['info']['education'] == u'初中' %}
						    <option selected="">初中</option>
							{% else %}
								<option>初中</option>
							{% end %}
							{% if user['info']['education'] == u'高中' %}
						    <option selected="">高中</option>
							{% else %}
								<option>高中</option>
							{% end %}
							{% if user['info']['education'] == u'中专' %}
						    <option selected="">中专</option>
							{% else %}
								<option>中专</option>
							{% end %}
							{% if user['info']['education'] == u'大专' %}
						    <option selected="">大专</option>
							{% else %}
								<option>大专</option>
							{% end %}
							{% if user['info']['education'] == u'本科' %}
						    <option selected="">本科</option>
							{% else %}
								<option>本科</option>
							{% end %}
							{% if user['info']['education'] == u'硕士' %}
						    <option selected="">硕士</option>
							{% else %}
								<option>硕士</option>
							{% end %}
							{% if user['info']['education'] == u'博士' %}
						    <option selected="">博士</option>
							{% else %}
								<option>博士</option>
							{% end %}
							{% if user['info']['education'] == u'其他' %}
						    <option selected="">其他</option>
							{% else %}
								<option>其他</option>
							{% end %}
						</select>
					</li>
					<li>
						<i>所在行业：</i>
						<select name="career" id="career">
							{% if user['info']['career'] == u'IT、互联网' %}
						    <option selected="">IT、互联网</option>
							{% else %}
								<option>IT、互联网</option>
							{% end %}
							{% if user['info']['career'] == u'教育行业' %}
						    <option selected="">教育行业</option>
							{% else %}
								<option>教育行业</option>
							{% end %}
							{% if user['info']['career'] == u'医院' %}
						    <option selected="">医院</option>
							{% else %}
								<option>医院</option>
							{% end %}
							{% if user['info']['career'] == u'电子行业' %}
						    <option selected="">电子行业</option>
							{% else %}
								<option>电子行业</option>
							{% end %}
							{% if user['info']['career'] == u'其他' %}
						    <option selected="">其他</option>
							{% else %}
								<option>其他</option>
							{% end %}
						</select>
					</li>

					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="button" class="xx_login" value="确定" id="account-btn" />
						<input name="" type="button" class="xx_false" value="取消" onclick="reset();" />
					</li>
				</ul>
				</form>
			</div>
			<!-- 实名认证 -->
			<div class="zc_main">
				<h2>实名认证</h2>
				<ul>
					<li>
						<i>姓名：</i>
						<input type="text" id="real-name" placeholder="请您的真实姓名" value="{{ user['ID']['name'] }}" />
					</li>
					<li>
						<i>身份证号：</i>
						<input type="text" id="real-no" placeholder="请输入您的身份证号" value="{{ user['ID']['no'] }}"/>
					</li>
					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="button" id="num-btn" class="lo_login" value="确定" />
					</li>
				</ul>

			</div>
			<!-- 快递地址 -->
			<div class="adrees_main">
				<h2>快递地址</h2>
				<ul>
					<li>
						<i>所在地区：</i>
						<input type="text" id="addr-province" placeholder="请填写所在地区" value="{{ user['_addr']['province'] }}"/>
					</li>
					<li>
						<i>详细地址：</i>
						<textarea name="" id="addr-addr" cols="10" rows="20" style="resize:none;">{{ user['_addr']['addr'] }}</textarea>
					</li>
					<li>
						<i>邮政编码：</i>
						<input type="text" id="addr-zip" placeholder="请输入邮政编码" value="{{ user['_addr']['zip'] }}"/>
					</li>
					<li>
						<i>收货人姓名：</i>
						<input type="text" id="addr-name" placeholder="请输入收货人姓名" value="{{ user['_addr']['name'] }}"/>
					</li>
					<li>
						<i>联系电话：</i>
						<input type="text" id="addr-phone" placeholder="请输入联系电话" value="{{ user['_addr']['phone'] }}"/>
					</li>
					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="button" id="addr-btn" class="lo_login" value="确定" />
					</li>
				</ul>

			</div>

		</div>
	</div>

</div>
<!-- 主题内容 -->

<!-- Footer -->
{% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
<!-- End Footer -->
<script src="{{ static_url('leshui/js/index.js') }}" type="text/javascript"></script>
<script src="{{ static_url('leshui/js/order.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ static_url('js/md5.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>
<script type="text/javascript" src="{{ static_url('weui/js/jquery-weui.min.js') }}"></script>
<!-- fileinput -->
<script src="{{ static_url('upyun/js/fileinput.min.js') }}"></script>
<script src="{{ static_url('upyun/js/spark-md5.min.js') }}"></script>
<script src="{{ static_url('upyun/js/async.js') }}"></script>
<script src="{{ static_url('upyun/js/upyun-mu.js') }}"></script>

<script>

		function getLocalTime(nS) { //时间戳转换
			 return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
		};
		// 查询订单
		var limit = 20;
		var pageNum = 1;
		function getOrders(_states){
			$.ajax({
				type: "GET",
				url: "{{ api_domain }}/api/orders/mine?filter=club&club_id=all&page="+pageNum+"&limit="+limit,
				dataType: "json",
				headers: {"Authorization":"Bearer {{access_token}}"},
				contentType: 'application/json',
				success: function(data, status, xhr) {
					console.log(data);
					// var dataObj = JSON.parse(data);
					var orders = data.rs.data;
					var _html = "";
					for (var i =0 ;i<orders.length;i++){
							_html += '<ul>';
							_html += '<li class="order_hao">'+ orders[i].trade_no +'</li>';
							_html += '<li class="order_maney">￥'+ (parseFloat(orders[i].actual_payment)/100).toFixed(2) +'</li>';
							_html += '<li class="order_zt">';
							if (orders[i].pay_status == 30){
									_html +=  '已支付';
							}else if(orders[i].pay_status == 10){
									_html +=  '未支付';
							}else if(orders[i].pay_status == 20){
									_html +=  '未支付';
							}
							_html += '</li>';
							_html += '<li class="order_xq">';
							_html += '<dl>';
							_html += '<dd>';
							_html += '<p><a href="/portal/newsup/ticket-list?club_id='+ orders[i].club_id +'">'+ orders[i].item_name +'</a></p>';
							_html += '<em><img src="images/time2.png" alt="">'+ getLocalTime(orders[i].create_time) +'</em>';
							_html += '</dd>';
							_html += '</dl>';
							_html += '</li>';
							_html += '<li class="order_set">';
							_html += '<dl>';
							_html += '<dd>';
							_html += '<a href="/portal/newsup/pay-style?order_id='+ orders[i]._id +'"><input type="button" value="立即支付" class="pay"></a>'
							_html += '</dd>';
							_html += '</dl>';
							_html += '</li>';
							_html += '</ul>';
					}
					$('#order-wrap').append(_html);
					$('#no-pay').append(_html);
				}
			})
		};
		getOrders(30)

	// 上传头像到upai云
  function uuid() {
    var s = [];
    var hexDigits = "0123456789abcdef";
    for (var i = 0; i < 36; i++) {
      s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
    }
    s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
    s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
    s[8] = s[13] = s[18] = s[23] = "-";

    var uuid = s.join("");
    return uuid;
  }
  function uploadUpyun(file, elementId) {
    var ext = '.' + file.name.split('.').pop();

    var config = {
      // 空间名称
      bucket: '{{upyun_bucket}}',
      // 上传请求过期时间
      expiration: parseInt((new Date().getTime() + 3600000) / 1000),
      // 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
      form_api_secret: '{{upyun_form_api_secret}}'
    };

    var instance = new Sand(config);
    var options = {
      'notify_url': '{{upyun_notify_url}}'
    };
    instance.setOptions(options);
    instance.setElementId(elementId);

    var d = new Date();
    var month = d.getMonth() + 1;
    var filename = '/avatar/' + d.getFullYear() + '/' + month + '/' + d.getDate() + '/' + uuid() + ext;
    console.log(filename);
    instance.upload(filename);

    return '{{upyun_domain}}' + filename;
  };
  $("#file").on("change",function(){
      var times = 0;
      var imgUrl = uploadUpyun(this.files[0],"file");
      $('#loadingToast').show();
      document.addEventListener('uploaded',function(e){
        if(times == 0){
          $("#user_img").attr('src',imgUrl);
          $('#loadingToast').hide();
        }
        times ++;
      });
  });

	// 修改密码
	$('#revisepwd-btn').on('click',function(){
		function hider(){
			$('#message').hide();
		}
		var new_pwd = $.md5($("#new-pwd").val());
		var new_pwd_sure = $.md5($("#new-pwd-once").val());
		if (new_pwd != new_pwd_sure){
			$('#message').show().children().css({'color':'red'}).html('两次新密码输入不相同!');
			setTimeout(hider,3000);
			return
		}
		var data = { old_pwd:$.md5($("#old-pwd").val()),
								 new_pwd:new_pwd,
							 };
		var json = JSON.stringify(data);
		$.ajax({
			url:'{{api_domain}}/api/auth/phone/reset-pwd',
			type:'PUT',
			data:json,
			dataType: "json",
			headers: {"Authorization":"Bearer {{access_token}}"},
			contentType: 'application/json',
			success: function(data, status, xhr) {
				console.log(data);
				if(data.err_code == 200){
					$('#message').show().children().css({'color':'#27e827'}).html('修改成功!');
					setTimeout(hider,3000);
				}else if(data.err_code == 409){
					$('#message').show().children().css({'color':'red'}).html('旧密码输入错误!');
					setTimeout(hider,3000);
				}else{
					$('#message').show().children().css({'color':'red'}).html('服务器错误，稍后再试!');
					setTimeout(hider,3000);
				}
			},
			error:function(){
			}

		});
	})


	$(function(){
		// 修改个人基本信息
			$('#account-btn').on('click',function(){
				saveInfo();
			});
			// 实名制
			$('#num-btn').on('click',function(){
				saveInfo();
			});
			// 修改收获信息
			$('#addr-btn').on('click',function(){
				saveInfo();
			});
			// 修改方法
	    function saveInfo(){

	      var data = { 'nickname':$("#nickName").val(),
	                   'avatar':$("#user_img").attr('src'),
										 'info': {
						             'birth':{
													  'Y':$("#year option:selected").text(),
												 		'M':$("#month option:selected").text(),
												 		'D':$("#data option:selected").text(),
													},
						             'hobby':$("#hobby option:selected").text(),
												 'marriage':$("#marriage option:selected").text(),
												 'gender':$("input[type='radio']:checked").val(),
						             'salary':$("#salary option:selected").text(),
												 'education':$("#education option:selected").text(),
												 'career':$("#career option:selected").text(),
						             'age_stage':$("#age_stage option:selected").text(),
				        		  },
											'ID': {
							            'name':$('#real-name').val(),
													'no':$('#real-no').val(),
						          },
						          '_addr': {
						            	'province':$('#addr-province').val(),
													'city':$('#addr-city').val(),
													'addr':$('#addr-addr').val(),
													'zip':$('#addr-zip').val(),
													'name':$('#addr-name').val(),
													'phone':$('#addr-phone').val()
						          }
	                 };
	      var json = JSON.stringify(data);

	      $.ajax({
	        url:'{{api_domain}}/api/myinfo',
	        type:'PUT',
	        data:json,
	        dataType: "json",
	        headers: {"Authorization":"Bearer {{access_token}}"},
	        contentType: 'application/json',
	        success: function(data, status, xhr) {
						// console.log(data);
	          $.toast("修改成功");
	        },
	        error:function(){
	        }

	      });

	    };
		});

    //file 打开文件
    function openBrowse(){
        var ie=navigator.appName=="Microsoft Internet Explorer" ? true : false;
        if(ie){
            document.getElementById("file").click();
            document.getElementById("filename").value=document.getElementById("file").value;
        }else{
            var a=document.createEvent("MouseEvents");//FF的处理
            a.initEvent("click", true, true);
            document.getElementById("file").dispatchEvent(a);
        }
    };

</script>
</body>
</html>
