<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>加盟申请</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<!-- 省市插件 -->
	<link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
	<link href="{{ static_url('leshui/css/zhuce.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>

</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
			<a href="/">首页</a>
			<a class="menu_scenery" href="javascript:;">景区导览</a>
			<a class="menu_activity" href="javascript:;">近期活动</a>
			<a class="menu_product" href="javascript:;">旅游产品</a>
			<a class="menu_news" href="javascript:;">旅游资讯</a>
			<a class="menu_media" href="javascript:;">精彩瞬间</a>
			{% if is_login  and is_ops %}
			<a class="menu_require" href="javascript:;">景区需求</a>
			<a class="menu_community" href="javascript:;">经验交流</a>
			<a class="menu_supplier" href="javascript:;">供应商</a>
			<a class="menu_supplier_product" href="javascript:;">供应商产品</a>
			<a class="menu_supplier_require" href="javascript:;">交流活动</a>
			{% end %}
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li class="menu_scenery"><a href="javascript:;">景区导览</a></li>
				<li class="menu_activity"><a href="javascript:;">近期活动</a></li>
				<li class="menu_product"><a href="javascript:;">旅游产品</a></li>
				<li class="menu_news"><a href="javascript:;">旅游资讯</a></li>
				<li class="menu_media"><a href="javascript:;">精彩瞬间</a></li>
				{% if is_login  and is_ops %}
				<li class="menu_require"><a href="javascript:;">景区需求</a></li>
				<li class="menu_community"><a href="javascript:;">经验交流</a></li>
				<li class="menu_supplier"><a href="javascript:;">供应商</a></li>
				<li class="menu_supplier_product"><a href="javascript:;">供应商产品</a></li>
				<li class="menu_supplier_require"><a href="javascript:;">交流活动</a></li>
				{% end %}
			</ul>
		</div>
	<!-- 导航 -->

<!-- 主题内容 -->
<div class="zc_main">
		<h1>加盟申请信息</h1>
		<div class="notice" style="width: 420px;margin: auto;">
			{% if franchise %}
				{% if franchise['_status'] == 0 %}
				<h6>待审核</h6>
				{% elif franchise['_status'] == 10 %}
				<h6 style="color:red;">被拒绝（可以重新发起请求）</h6>
				{% elif franchise['_status'] == 20 %}
				<h6>已批准</h6>
				{% end %}
		  {% end %}
		</div>
		{% if not franchise %}
		<div class="wrap">
			<form action="" onsubmit="return false;" id="apply-form">
				<ul>
					<li>
						<i>加盟名称：</i>
						<input type="text" name="name" id="name" placeholder="请输入加盟商名称" />
					</li>
					<li class="jq_jm">
						<i>选择类型：</i>
						<p class="yk_pepl">
						    <label>
						      <input type="radio" name="franchise_type" value="scenery" id="RadioGroup1_0" checked="checked" class="yk_label" />
						      风景区</label>
						    <label>
						      <input type="radio" name="franchise_type" value="supplier" id="RadioGroup1_1" class="yk_label" />
						      供应商</label>
						  </p>
					</li>
					<li>
						<i>选择省份：</i>
						<div id="distpicker">
			          <select class="form-control" id="province" style="width: 30%;"></select>
			          <select class="form-control" id="city" style="width: 30%;"></select>
			      </div>
					</li>
					<li>
						<i>详细地址：</i>
						<input type="text" name="address" id="address" placeholder="请输入详细地址" value=""/>
					</li>
					<li>
						<i>联系方式：</i>
						<input type="text" name="phone" id="phone" placeholder="请输入手机号码" />
					</li>
					<li>
						<i>电子邮件：</i>
						<input type="text" name="email" id="email" placeholder="请输入合法的电子邮箱" />
					</li>
					<li>
						<i>背景图：</i>
						<div style="width:297px;overflow:hidden;float: right;margin-left: 20px;">
							<img id="user_img" src="http://tripc2c-club-title.b0.upaiyun.com/default/bg.jpg" alt="俱乐部背景图" style="width:100%;border:1px solid #e2e6e5;margin-left: 0;" />
							<input type="button" value="上传背景图" onclick="openBrowse()" style="color: white;" />
							<input type="file" id="file" name="file" style="display:none;">
						</div>
					</li>
					<li class="jq_jm">
						<i>加盟简介：</i>
						<textarea rows="8" name="introduction" id="introduction" style="resize:none;width:297px;float: right;border: 1px solid #ccc;"></textarea>
					</li>
					<li class="jq_jm" style="padding-top: 11px;">
						<i style="line-height: 20px;">&nbsp;</i>
						<div class="appy-form-main-message" style="text-align: center;" id="success"></div>
					</li>

					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="submit" class="lo_login" value="确定" />
					</li>
				</ul>
			</form>
		</div>
		{% else %}
		{% if franchise['_status'] == 10 %}
		<div class="wrap">
			<form action="" onsubmit="return false;" id="apply-form">
				<ul>
					<li>
						<i>加盟名称：</i>
						<input type="text" name="name" id="name" placeholder="请输入景区名称" value="{{ franchise['club']['name'] }}"/>
					</li>
					<li class="jq_jm">
						<i>选择类型：</i>
						<p class="yk_pepl">
							{% if franchise['club']['franchise_type'] == 'scenery' %}
						    <label>
						      <input type="radio" name="franchise_type" value="scenery" id="RadioGroup1_0" checked="checked" class="yk_label" />
						      风景区</label>
						    <label>
						      <input type="radio" name="franchise_type" value="supplier" id="RadioGroup1_1" class="yk_label" />
						      供应商</label>
							{% else %}
								<label>
									<input type="radio" name="franchise_type" value="scenery" id="RadioGroup1_0" class="yk_label" />
									风景区</label>
								<label>
									<input type="radio" name="franchise_type" value="supplier" id="RadioGroup1_1" checked="checked" class="yk_label" />
									供应商</label>
							{% end %}
						  </p>
					</li>
					<li>
						<i>选择省份：</i>
			      <div id="distpicker">
			          <select class="form-control" id="province" style="width: 30%;"></select>
			          <select class="form-control" id="city" style="width: 30%;"></select>
			      </div>
					</li>
					<li>
						<i>详细地址:</i>
						{% if franchise['club'].has_key('_addr') %}
						<input type="text" name="address" id="address" placeholder="请输入详细地址" value="{{ franchise['club']['_addr'] }}"/>
						{% else %}
						<input type="text" name="address" id="address" placeholder="请输入详细地址" value=""/>
						{% end %}
					</li>
					<li>
						<i>联系方式：</i>
						<input type="text" name="phone" id="phone" placeholder="请输入电话号码" value="{{ franchise['club']['phone'] }}"/>
					</li>
					<li>
						<i>电子邮件：</i>
						<input type="text" name="email" id="email" placeholder="请输入合法的电子邮箱" value="{{ franchise['club']['email'] }}"/>
					</li>
					<li>
						<i>背景图：</i>
						<div style="width:297px;overflow:hidden;float: right;margin-left: 20px;">
							<img id="user_img" src="{{ franchise['club']['img'] }}" alt="俱乐部背景图" style="width:100%;border:1px solid #e2e6e5;margin-left: 0;" />
							<input type="button" value="上传背景图" onclick="openBrowse()" style="color: white;" />
							<input type="file" id="file" name="file" style="display:none;">
						</div>
					</li>
					<li class="jq_jm">
						<i>加盟简介：</i>
						<textarea rows="8" name="introduction" id="introduction" style="resize:none;width:297px;float: right;border: 1px solid #ccc;">
							{{ franchise['club']['introduction'] }}
						</textarea>
					</li>
					<li class="jq_jm" style="padding-top: 11px;">
						<i style="line-height: 20px;">&nbsp;</i>
						<div class="appy-form-main-message" style="text-align: center;" id="success"></div>
					</li>

					<li class="zc_email">
						<i class="zc_greed">&nbsp;</i>
						<input name="" type="submit" class="lo_login" value="确定" />
					</li>
				</ul>
			</form>
		</div>
		{% else %}
		<table class="table table-bordered" style="width:420px;margin:auto;">
			<thead>
				<tr>
					<th>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题</th>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>审核状态</td>
					{% if franchise['_status'] == 0 %}
					<td>待审核</td> {% elif franchise['_status'] == 20 %}
					<td>已批准</td> {% end %}
				</tr>
				<tr>
					<td>申请日期</td>
					<td>{{ franchise['create_time'] }}</td>
				</tr>
				<tr>
					<td>加盟名称</td>
					<td>{{ franchise['club']['name'] }}</td>
				</tr>
				<tr>
					<td>加盟类型</td>
					<td>{{ franchise['club']['franchise_type'] }}</td>
				</tr>
				<tr>
					<td>所属省份</td>
					<td>{{ franchise['club']['province'] }}&nbsp {{ franchise['club']['city'] }}</td>
				</tr>
				<tr>
					<td>详细地址</td>
					<td>
						{% if franchise['club'].has_key('_addr') %}
						{{ franchise['club']['_addr'] }}
						{% end %}
					</td>
				</tr>
				<tr>
					<td>电话号码</td>
					<td>{{ franchise['club']['phone'] }}</td>
				</tr>
				<tr>
					<td>电子邮箱</td>
					<td>{{ franchise['club']['email'] }}</td>
				</tr>
				<tr>
					<td>背景图</td>
					<td><img style="width:370px;height:278px;" src="{{ franchise['club']['img'] }}" alt="背景图"></td>
				</tr>
				<tr>
					<td>简介</td>
					<td>{{ franchise['club']['introduction'] }}</td>
				</tr>
			</tbody>
		</table>
		<!-- End Tables -->
		{% end %}
	{% end %}
</div>
<!-- 主题内容 -->
<!-- Footer -->
{% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
<!-- End Footer -->
<!-- <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script> -->
<script src="{{ static_url('leshui/js/distpicker.data.js') }}"></script>
<script src="{{ static_url('leshui/js/distpicker.js') }}"></script>
<!-- <script src="{{ static_url('leshui/js/main.js') }}"></script> -->
<script src="{{ static_url('leshui/js/index.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>
<!-- fileinput -->
<script src="{{ static_url('upyun/js/fileinput.min.js') }}"></script>
<script src="{{ static_url('upyun/js/spark-md5.min.js') }}"></script>
<script src="{{ static_url('upyun/js/async.js') }}"></script>
<script src="{{ static_url('upyun/js/upyun-mu.js') }}"></script>
<script>
	 $(function() {
		// $("#distpicker").distpicker('destroy');
 	  $('#distpicker').distpicker({
			{% if franchise %}
 	    province: "{{ franchise['club']['province'] }}",
 	    city: "{{ franchise['club']['city'] }}",
			{% end %}
 	  });

		// 加盟申请操作
		$("#apply-form").validate({
			rules: {
				name: {
					required: true,
				},
				address: {
					required: true,
				},
				phone: {
					minlength: 11,
					maxlength: 11,
					required: true,
				},
				email: {
					required: false,
				},
				introduction: {
					required: true,
					minlength: 10,
				},
			},
			messages: {
				name: "请为您的加盟商取个名吧！",
				address: "请填写您加盟商的所在地址!",
				phone: "请填写正确的手机号码！",
				email: "请输入正确的邮箱地址",
				introduction: {
					required: "请输入俱乐部简介！",
					minlength: "至少10个字符！",
				},
			},
			errorClass: "error",
			errorElement: 'span',
			errorPlacement: function(error, element) {
         error.appendTo(element.parent());
    	},
			submitHandler: function(form) {
				var data = {
					name: $('#name').val(),
					phone: $('#phone').val(),
					email: $('#email').val(),
					franchise_type: $("input[type='radio']:checked").val(),
					province: $("#province option:selected").text(),
					city: $("#city option:selected").text(),
					_addr: $('#address').val(),
					img: $("#user_img").attr('src'),
					introduction: $('#introduction').val(),
				};
				var json = JSON.stringify(data);
				// console.log(json);

				$.ajax({
					type: "POST",
					url: "{{api_domain}}/api/leagues/{{ league_info['_id'] }}/franchises",
					data: json,
					dataType: "json",
					contentType: 'application/json',
					headers: {
						"Authorization": "Bearer {{access_token}}"
					},
					success: function(data, status, xhr) {
						console.log(status);
						$('.appy-form-main-message').css({'color':'#b0e49c'}).html('发送申请成功，请等待审核!');
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						console.log("XMLHttpRequest.status: " + XMLHttpRequest.status);
						if (XMLHttpRequest.status == 409) {
							$('.appy-form-main-message').css({'color':'red'}).html('已经申请完毕, 不必重新申请');
						} else {
							$('.appy-form-main-message').css({'color':'red'}).html('网络异常,刷新重试');
						}
					},
					complete: function(XMLHttpRequest, textStatus) {
						this; // 调用本次AJAX请求时传递的options参数
					}
				});
			}
		});

	});
</script>
<script>
	function uuid() {
		var s = [];
		var hexDigits = "0123456789abcdef";
		for (var i = 0; i < 36; i++) {
			s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
		}
		s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
		s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
		s[8] = s[13] = s[18] = s[23] = "-";

		var uuid = s.join("");
		return uuid;
	}

	function uploadUpyun(file, elementId) {
		var ext = '.' + file.name.split('.').pop();

		var config = {
			// 空间名称
			bucket: '{{upyun_bucket}}',
			// 上传请求过期时间
			expiration: parseInt((new Date().getTime() + 3600000) / 1000),
			// 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
			form_api_secret: '{{upyun_form_api_secret}}'
		};

		var instance = new Sand(config);
		var options = {
			'notify_url': '{{upyun_notify_url}}'
		};
		instance.setOptions(options);
		instance.setElementId(elementId);

		var d = new Date();
		var month = d.getMonth() + 1;
		var filename = '/avatar/' + d.getFullYear() + '/' + month + '/' + d.getDate() + '/' + uuid() + ext;
		console.log(filename);
		instance.upload(filename);

		return '{{upyun_domain}}' + filename;
	};

	$("#file").on("change", function() {
		var times = 0;
		var imgUrl = uploadUpyun(this.files[0], "file");
		$('#loadingToast').show();
		document.addEventListener('uploaded', function(e) {
			if (times == 0) {
				$("#user_img").attr('src', imgUrl);
			}
			$('#loadingToast').hide();
			times++;
		});

	});
	// 打开文件
	function openBrowse() {
		var ie = navigator.appName == "Microsoft Internet Explorer" ? true : false;
		if (ie) {
			document.getElementById("file").click();
			document.getElementById("filename").value = document.getElementById("file").value;
		} else {
			var a = document.createEvent("MouseEvents"); //FF的处理
			a.initEvent("click", true, true);
			document.getElementById("file").dispatchEvent(a);
		}
	}
</script>
</body>
</html>
