<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ league_info['name'] }}</title>
  <meta name="description" content="NewsUp is a multi-page oriented template perfect for NewsUp - News, Magazine, Blogging and Article Directory.">
  <meta name="keywords" content="news theme, magazine, blog, article directory, article submission, writer, author, publication, html, bootstrap">
  <meta name="author" content="Sempy Themes">

  <!-- Favicons
        ================================================== -->
  <link rel="stylesheet" href="{{ static_url('weui/lib/weui.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('weui/css/jquery-weui.css') }}">
  <link rel="shortcut icon" href="/static/newsup/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/newsup/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/newsup/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/newsup/img/apple-touch-icon-114x114.png">

  <!-- Bootstrap
        ================================================== -->
  <link href="{{ static_url('newsup/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Animate
        ================================================== -->
  <link href="{{ static_url('newsup/css/effect2.css') }}" rel='stylesheet' type='text/css' />
  <link href="{{ static_url('newsup/css/animate.css') }}" rel='stylesheet' type='text/css' />

  <!-- Add fancyBox CSS files -->
  <link href="{{ static_url('newsup/js/fancybox/jquery.fancybox.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Owl Slider CSS -->
  <link href="{{ static_url('newsup/css/owl.carousel.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.theme.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.transitions.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Custom Css
        ================================================== -->
  <link href="{{ static_url('newsup/css/rs-wp-v1.2.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jquery.rs.selectbox.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/responsive.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/fonts/stylesheet.css') }}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.1.11.1.js') }}"></script>

</head>

<body>

  <!--- Wrapper -->
  <section id="wrapper" class="clearfix">

    <!--- Header -->
    <header>

      <!-- socialbar -->
      {% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
      <!-- /socialbar -->

      <!-- menubar -->
      {% module Template("newsup/block-menubar.html", is_login=is_login, is_ops=is_ops, league_info=league_info) %}
      <!-- /menubar -->

    </header>
    <!--- End Header -->

    <!-- Page Breadcrumb -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-breadcrumb">
            <a href="/portal/newsup/index"><span>Home</span></a>
            <span>></span>
            <a href="/portal/newsup/author"><span>Author</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Breadcrumb -->

    <!-- Category Page Content -->
    <section id="rst-catcontent-author">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <!-- Author zone -->
            <div class="rst-section-title rst-section-title-box">
              <h4>John Doe</h4>
              <div class="rst-shortmenu">
                <span class="rst-authortitle">Reporter, blogger</span>
              </div>
            </div>
            <div class="rst-author-contact">
              <img src="/static/newsup/images/account.jpg" alt="" />
              <div class="rst-author-contactinfo">
                <p>
                  <a href="tel:+48 122 33 66"><i class="fa fa-mobile"></i> <span>+48 122 33 66</span></a>
                  <a href="mailto:john@gmail.com"><i class="fa fa-paper-plane"></i> <span>john@gmail.com</span></a>
                </p>
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                </ul>
              </div>
            </div>
            <p class="rst-author-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor urna eget lectus ultrices, sed euismod nulla congue. Aliquam aliquet malesuada nulla, a malesuada orci ornare eget. Aenean nunc ante, fringilla in elementum ut, sagittis
              ac arcu. Aliquam et mollis diam. Etiam eros nisl, dignissim eget eros vel, laoreet euismod justo.</p>
            <!-- End zone -->

            <!-- News zone -->
            <div class="rst-section-title rst-section-title-box">
              <h4>News</h4>
            </div>
            <div class="row rst-cat-postlist">
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-03.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-04.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-05.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-06.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-07.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <article class="col-sm-6 rst-catpost">
                <div class="rst-postpic">
                  <a href="#"><img src="/static/newsup/images/cat-08.jpg" alt="" /></a>
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                </div>
                <div class="rst-postinfo">
                  <a class="rst-postpic-cat" href="#"><span>fitness</span></a>
                  <h6><a href="#">Lorem ipsum dolor sit amet, Ut congue ex eget nulla lacinia.</a></h6>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue ex eget nulla lacinia, id efficitur felis luctus. Nam vitae dui id ex faucibus tincidunt id non eros. Pellentesque varius dapibus lacinia. Quisque eu arcu efficitur nibh
                    hendrerit pulvinar sed quis nunc.</p>
                </div>
                <div class="clear"></div>
              </article>
              <!-- End Category Posts -->
            </div>
            <!-- End news zone -->

            <div class="row">
              <div class="col-xs-12">
                <nav class="wp-pagenavi">
                  <a class="page-prev" href="#">Prev</a>
                  <a class="page-numbers current" href="#">1</a>
                  <a class="page-numbers" href="#">2</a>
                  <a class="page-numbers" href="#">3</a>
                  <a class="page-numbers" href="#">4</a>
                  <a class="page-numbers" href="#">5</a>
                  <a class="page-next" href="#">Next</a>
                </nav>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- begin widget social -->
            {% module Template("newsup/block-widget-social.html") %}
            <!-- end widget social -->

            <!-- begin widget popular -->
            {% module Template("newsup/block-widget-popular.html", populars=populars, news=news) %}
            <!-- end widget popular -->

            <!-- begin widget adv -->
            {% module Template("newsup/block-widget-adv.html", activities=activities) %}
            <!-- end widget adv -->

            <!-- begin widget video -->
            {% module Template("newsup/block-widget-video.html") %}
            <!-- end widget video -->

            {% module Template("newsup/block-widget-contactus.html") %}

          </div>
          <!-- End Content Sidebar -->
        </div>
      </div>
    </section>
    <!-- End Category Page Content -->

    <!-- Section Latest Comments -->
    {% module Template("newsup/block-lastest-comments.html", lastest_comments=lastest_comments) %}
    <!-- End Section Latest Comments -->

    <!-- Footer -->
    {% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
    <!-- End Footer -->

  </section>
  <!--- End Wrapper -->

  <!-- Bootstrap Js Compiled Plugins -->
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap-tagsinput.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/jqBootstrapValidation.js') }}"></script>

  <!-- WoW Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/wow.min.js') }}"></script>

  <!-- Add Fancybox -->
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/jquery.fancybox.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/helpers/jquery.fancybox-media.js') }}"></script>

  <!-- Owl Slider Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/owl.carousel.js') }}"></script>
  <!-- alert Scripts -->
  <script src="{{ static_url('weui/lib/fastclick.js') }}"></script>

  <!-- Custome Selectbox Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.rs.selectbox.js') }}"></script>

  <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>

</body>

</html>
