<!-- begin social bar -->
<div class="rst-header-socialbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="rst-socialbar-menu">
          <ul>
            <li><a href="/portal/newsup/author">about</a></li>
            <li><a href="/portal/newsup/media">multimedia</a></li>
            <li><a href="/portal/newsup/shortcodes">shortcodes</a></li>
            <li><a href="/portal/newsup/contact">contact</a></li>
            <li><a href="/portal/newsup/franchise">franchise</a></li>
            <li>
              <a href="#">page template</a>
              <ul>
                <li><a href="/portal/newsup/account">account</a></li>
                <li><a href="/portal/newsup/author">author</a></li>
                <li><a href="/portal/newsup/item-detail">detail</a></li>
                <li><a href="/portal/newsup/new">new</a></li>
                <li><a href="/portal/newsup/register">register</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <nav class="rst-socialbar-social">
          <ul>
            <li>
              <form action="#" class="rst-search">
                <input type="text" value="Search Words" onblur="if (this.value == '') {this.value = 'Search Words';}" onclick=" if (this.value == 'Search Words') {this.value = '';} " name="s">
                <button class="sb"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
            <li>
              <div class="rst-loginform">
                {% if is_login %}
                <a href="/portal/auth/logout">Logout</a> {% else %}
                <a href="/portal/newsup/register">Login</a> {% end %}
              </div>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<!-- end social bar -->
