<!-- Menu bar -->
<div class="rst-header-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-header-menu-content">
          <a class="rst-header-logo" href="/portal/newsup/index"><img src="/static/newsup/images/header-logo.png" alt="" /></a>
          <div id="rst-weather" class="rst-weather"></div>
          <button class="rst-menu-trigger">
            <span>Toggle navigation</span>
          </button>
          <ul>
            <li><a href="/portal/newsup/category?id=9a132e36e94411e6a12c00163e023e51">Activity</a></li>
            <li><a href="/portal/newsup/category?id=0e9a3c68e94511e6b40600163e023e51">Journey</a></li>
            <li><a href="/portal/newsup/category?id=9b876004e94711e69b1c00163e023e51">Scenery</a></li>
            <li><a href="/portal/newsup/category?id=71189eaae94711e69b1c00163e023e51">Tips</a></li>
            <li><a href="/portal/newsup/category?id=ac48f592e94711e69b1c00163e023e51">Match</a></li>
            <li><a href="/portal/newsup/category?id=b418bcf8e94711e69b1c00163e023e51">Carnival</a></li>
            <li><a href="/portal/newsup/category?id=a4edf3a6e94711e69b1c00163e023e51">Talk</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu bar -->
