<aside class="widget widget_popular">
  <ul>
    <li>
      <a href="javascript:void(0);">旅游产品</a>
      <ul>
        {% for article in populars %}
        <li>
          <article>
            <div class="rst-postpic">
              <a href="/portal/newsup/item-detail?id={{ article['_id'] }}"><img src="{{ article['img'] }}!100x76" alt="" /></a>
            </div>
            <div class="rst-postinfo">
              <h6><a href="/portal/newsup/item-detail?id={{ article['_id'] }}">{{ article['title'] }}</a></h6>
              <time><i class="fa fa-clock-o"></i>{{ article['publish_time'] }}</time>
            </div>
          </article>
        </li>
        {% end %}
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">旅游资讯</a>
      <ul>
        {% for i in range(len(news)) %}
        {% if i < 4 %}
        <li>
          <article>
            <div class="rst-postpic">
              <a href="/portal/newsup/item-detail?id={{ news[i]['_id'] }}"><img src="{{ news[i]['img'] }}!100x76" alt="" /></a>
            </div>
            <div class="rst-postinfo">
              <h6><a href="/portal/newsup/item-detail?id={{ news[i]['_id'] }}">{{ news[i]['title'] }}</a></h6>
              <time><i class="fa fa-clock-o"></i>{{ news[i]['publish_time'] }}</time>
            </div>
          </article>
        </li>
        {% end %}
        {% end %}
      </ul>
    </li>
  </ul>
</aside>
<!-- end widget popular -->
