<!--- Footer -->
<footer>
  <div class="container">
    <div class="rst-footerline"></div>
    <div class="row rst-footer-content">
      <div class="col-sm-2">
        <span class="rst-menu-title">菜单</span>
        <ul>
          <li><a href="/portal/newsup/contact">联系我们</a></li>
          <li><a href="/portal/newsup/franchise">加盟申请</a></li>
          <li><a href="/portal/newsup/media">精彩瞬间</a></li>
          <li><a href="/portal/newsup/account">个人信息</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <span class="rst-menu-title">文章分类</span>
        <ul>
          <li><a href="/portal/newsup/category?id=9a132e36e94411e6a12c00163e023e51">景区展示</a></li>
          <li><a href="/portal/newsup/category?id=0e9a3c68e94511e6b40600163e023e51">供应商展示</a></li>
          <li><a href="/portal/newsup/category?id=9b876004e94711e69b1c00163e023e51">需求发布</a></li>
          <li><a href="/portal/newsup/category?id=71189eaae94711e69b1c00163e023e51">旅游产品</a></li>
          <li><a href="/portal/newsup/category?id=ac48f592e94711e69b1c00163e023e51">旅游资讯</a></li>
          <li><a href="/portal/newsup/category?id=b418bcf8e94711e69b1c00163e023e51">经验交流</a></li>
        </ul>
      </div>
      <!--
      <div class="col-sm-2">
        <span class="rst-menu-title">Page Template</span>
        <ul>
          <li><a href="/portal/newsup/account">Account</a></li>
          <li><a href="/portal/newsup/author">Author</a></li>
          <li><a href="/portal/newsup/item-detail?id=e6f8e4b8ea0511e6ac6800163e023e51">Detail</a></li>
          <li><a href="/portal/newsup/category-tile">Category Tile</a></li>
          <li><a href="/portal/newsup/new">New</a></li>
          <li><a href="/portal/auth/register">Register</a></li>
        </ul>
      </div>
    -->
    </div>
  </div>
  <div class="rst-footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 rst-copyright">
          <p>© 2017 7x24hs.com 保留所有权利.</p>
        </div>
        <div class="col-xs-6 rst-design">
          <p>7x24hs工作室设计 <a href="#"><i class="fa fa-angle-up"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">

    $(function(){
      $("#searchBtn").on('click',function(){
        var q = $("#searchText").val();
        location.href="/portal/newsup/search?q="+q;
      });
    })

</script>
<!--- End Footer -->
