<!-- Menu bar -->
<div class="rst-header-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-header-menu-content">
          <a class="rst-header-logo" href="/portal/newsup/index"><img src="/static/newsup/images/header-logo.png" alt="" /><h1>中国水利风景区联盟</h1></a>
          <div id="rst-weather" class="rst-weather"></div>
          <button class="rst-menu-trigger">
            <span>Toggle navigation</span>
          </button>
          <ul>
            <li><a class="menu_activity" href="#">景区展示</a></li>
            <li><a class="menu_journey" href="#">供应商展示</a></li>
            <li><a class="menu_scenery" href="#">需求发布</a></li>
            <li><a class="menu_news" href="#">旅游产品</a></li>
            <li><a class="menu_popular" href="#">旅游资讯</a></li>
            <li><a class="menu_hot" href="#">经验交流</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu bar -->

<script type="text/javascript">

  $('.menu_activity').click(function(){
     location.href = "/portal/newsup/franchises?franchise_type=景区";
  })
  $('.menu_journey').click(function(){
     location.href = "/portal/newsup/franchises?franchise_type=供应商";
  })
  $('.menu_scenery').click(function(){
     location.href = "/portal/newsup/category?id=01d6120cf73411e69a3c00163e023e51";
  })
  $('.menu_news').click(function(){
     location.href = "/portal/newsup/category?id=2a28cb78f73411e69a3c00163e023e51";
  })
  $('.menu_popular').click(function(){
     location.href = "/portal/newsup/category?id=30a56cb8f73411e69a3c00163e023e51";
  })
  $('.menu_hot').click(function(){
     location.href = "/portal/newsup/category?id=8853422e03a911e7998c00163e023e51";
  })
</script>
