<!-- begin social bar -->
<div class="rst-header-socialbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <nav class="rst-socialbar-menu">
          <ul>
            <li><a href="/portal/newsup/contact">联系我们</a></li>
            <li><a href="/portal/newsup/franchise">加盟申请</a></li>
            <li><a href="/portal/newsup/media">精彩瞬间</a></li>
            <li><a href="/portal/newsup/account">个人信息</a></li>
            <!--
            <li><a href="/portal/newsup/shortcodes">shortcodes</a></li>
            <li>
              <a href="#">page template</a>
              <ul>
                <li><a href="/portal/newsup/account">account</a></li>
                <li><a href="/portal/newsup/author">author</a></li>
                <li><a href="/portal/newsup/item-detail?id=986ad9def8b311e69a3c00163e023e51">detail</a></li>
                <li><a href="/portal/newsup/category-tile">category tile</a></li>
                <li><a href="/portal/newsup/new">new</a></li>
                <li><a href="/portal/auth/register">register</a></li>
              </ul>
            </li>
          -->
          </ul>
        </nav>
        <nav class="rst-socialbar-social">
          <ul>
            <li>
              <div class="rst-search">
                <input type="text" value="关键词" id="searchText" onblur="if (this.value == '') {this.value = 'Search Words';}" onclick=" if (this.value == 'Search Words') {this.value = '';} " name="s">
                <button class="sb" id="searchBtn"><i class="fa fa-search"></i></button>
              </div>
            </li>
            <!--
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
          -->
            <li>
              <div class="rst-loginform">
                {% if is_login %}
                <a href="/portal/auth/logout">登出</a> {% else %}
                <a href="/portal/auth/register">登录</a> {% end %}
              </div>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<!-- end social bar -->
