<!-- Section Latest Comments -->
<section id="rst-latestcomments">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="rst-section-title rst-section-title-box">
          <h4>最新评论</h4>
        </div>
        <!-- end section title -->
        <div class="row commentlist owl-carousel">
          {% for comment in lastest_comments %}
          <div class="col-sm-12 comment">
            <div class="comment-avatar">
              <img src="{{ comment['avatar'] }}!100x100" alt="" />
            </div>
            <div class="comment-data">
              <a href="#" class="comment-author">{{ comment['nickname'] }}</a>
              <span class="comment-time"><i class="fa fa-clock-o"></i>{{ comment['create_time'] }}</span>
              <p class="comment-body">{{ comment['comment'] }}</p>
            </div>
          </div>
          {% end %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section Latest Comments -->
