<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章列表</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link href="{{ static_url('leshui/css/list.css') }}" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="{{ static_url('leshui/js/jquery-1.12.1.min.js') }}"></script>
</head>
<html>
<body>
	<!-- socialbar -->
	{% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
	<!-- /socialbar -->
	<!-- 导航 -->
	<div class="nav_all">
		<div class="nav">
	    <a href="/">首页</a>
			<a class="menu_scenery" href="javascript:;">景区导览</a>
			{% if category_id == '0bbf89e2f73411e69a3c00163e023e51' %}
			<a class="menu_activity active" href="javascript:;">近期活动</a>
			{% else %}
			<a class="menu_activity" href="javascript:;">近期活动</a>
			{% end %}

			{% if category_id == 'b0569f58144f11e78d3400163e023e51' %}
			<a class="menu_product active" href="javascript:;">旅游产品</a>
			{% else %}
			<a class="menu_product" href="javascript:;">旅游产品</a>
			{% end %}

			{% if category_id == '065f565e6bd711e7b46300163e023e51' %}
			<a class="menu_news active" href="javascript:;">旅游资讯</a>
			{% else %}
			<a class="menu_news" href="javascript:;">旅游资讯</a>
			{% end %}

			<a class="menu_media" href="javascript:;">精彩瞬间</a>

			{% if is_login  and is_ops %}

					{% if category_id == '01d6120cf73411e69a3c00163e023e51' %}
					<a class="menu_require active" href="javascript:;">景区需求</a>
					{% else %}
					<a class="menu_require" href="javascript:;">景区需求</a>
					{% end %}

					{% if category_id == '8853422e03a911e7998c00163e023e51' %}
					<a class="menu_community active" href="javascript:;">经验交流</a>
					{% else %}
					<a class="menu_community" href="javascript:;">经验交流</a>
					{% end %}

					<a class="menu_supplier" href="javascript:;">供应商</a>

					{% if category_id == '2a28cb78f73411e69a3c00163e023e51' %}
					<a class="menu_supplier_product active" href="javascript:;">供应商产品</a>
					{% else %}
					<a class="menu_supplier_product" href="javascript:;">供应商产品</a>
					{% end %}

					{% if category_id == '404228663a1711e7b21000163e023e51' %}
					<a class="menu_supplier_require active" href="javascript:;">供应商需求</a>
					{% else %}
					<a class="menu_supplier_require" href="javascript:;">供应商需求</a>
					{% end %}

			{% end %}
		</div>
	</div>
	<!-- 手机版头部 -->
		<div class="ph_nav">
			<h1><img src="{{ static_url('leshui/images/nav.png') }}"></h1>
			<h2><img src="{{ static_url('leshui/images/cha.png') }}"></h2>
			<ul>
				<li><a href="/">首页</a></li>
				<li class="menu_scenery"><a href="javascript:;">景区导览</a></li>
				<li class="menu_activity"><a href="javascript:;">近期活动</a></li>
				<li class="menu_product"><a href="javascript:;">旅游产品</a></li>
				<li class="menu_news"><a href="javascript:;">旅游资讯</a></li>
				<li class="menu_media"><a href="javascript:;">精彩瞬间</a></li>
				{% if is_login  and is_ops %}
				<li class="menu_require"><a href="javascript:;">景区需求</a></li>
				<li class="menu_community"><a href="javascript:;">经验交流</a></li>
				<li class="menu_supplier"><a href="javascript:;">供应商</a></li>
				<li class="menu_supplier_product"><a href="javascript:;">供应商产品</a></li>
				<li class="menu_supplier_require"><a href="javascript:;">供应商需求</a></li>
				{% end %}
			</ul>
		</div>
	<!-- 导航 -->
<!-- 主题内容 -->
<div class="in_active">
	<!-- 一共10个li -->
	<div class="franchise-wrap" id="category-wrap" style="overflow:auto;"></div>
	<div class="page">
		<a href="javascript:;" id="prev">上一页</a>
		<span class="pageBox"></span>
		<a href="javascript:;" id="next">下一页</a>
		<!-- 共<span id="total_page" style="padding:0 5px;"></span>页 -->
	</div>

	<!-- <div id="ph_page">
		<a href="#">加载更多</a>
	</div> -->

</div>

<!-- 主题内容 -->
<!-- Footer -->
{% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
<!-- End Footer -->
<script src="{{ static_url('leshui/js/index.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ static_url('leshui/js/list.js') }}"></script>
<script type="text/javascript">
	$(function(){

			function getLocalTime(nS) { //时间戳转换
				 return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
			};
			// 景区分页显示
			var limit = 10;//每页显示数
			var currentPage = 0;//当前页
			var total_page = 0;//总页数
			function gotoPage(pageNum) {
				$.get("{{api_domain}}/api/articles-pagination?filter=league&league_id={{ league_info['_id'] }}&status=publish&category={{ category_id }}&page="+pageNum+"&limit="+limit,function(data,status){
							// console.log(data);
							data_obj = JSON.parse(data);
							data = data_obj.rs;
							currentPage = pageNum;
					var pageData = data.data;
							total_page = data.total_page;//总页
							// $("#total_page").html(total_page);
							$('#category-wrap').html("");

					for (var i in pageData) {

							var inner_html =	'<dl>';
									inner_html += '<dt>';
									inner_html += 	'<a href="/portal/newsup/item-detail?id='+ pageData[i]['_id'] + '"><img src="'+ pageData[i]['img'] +'!370x370" alt=""></a>';
									inner_html += '</dt>';
									inner_html += '<dd>';
									inner_html += 	'<a href="/portal/newsup/item-detail?id='+ pageData[i]['_id'] + '"><h4>'+ pageData[i]['title'] +'</h4></a>';
									inner_html += 	'<p>'+ pageData[i]['subtitle'] +'</p>';
									inner_html += 	'<p>发布时间:'+ getLocalTime(pageData[i]['publish_time']) +'</p>';
									inner_html += 	'<h5><a href="/portal/newsup/item-detail?id='+ pageData[i]['_id'] + '"><span>详细介绍</span><img src="{{ static_url('leshui/images/more.png') }}" alt=""></a></h5>';
									inner_html += '</dd>';
									inner_html += '</dl>';
						$('#category-wrap').append(inner_html);
						// member_num += 1;
					};

					pageNext = parseInt((currentPage-1)/5) + 1;

						start = (pageNext-1)*5+1;
						end = pageNext*5;
						if(end > total_page){
							end = total_page;
						}

						$(".pageBox").html("");
						for (var k=start;k<=end;k++){
							var inner_html = '<a class="" id="num'+k+'">'+k+'</a>';
							$(".pageBox").append(inner_html);
						};
						 $("#num"+currentPage).addClass("page_hover").siblings().removeClass("page_hover");

				});

			};
				gotoPage(1);//页面初始化

				// 点击页码操作
				$(document).on('click','.pageBox > a',function(){
					var num = $(this).text();
					gotoPage(num);
				})

				$("#prev").on("click",function(){
						if(currentPage<=1){

						}else{
								gotoPage(--currentPage);
						}
				});

				$("#next").on("click",function(){
						if(currentPage>=total_page){

						}else{
								gotoPage(++currentPage);
						}
				});
	})
</script>
</body>
</html>
