<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ league_info['name'] }}</title>
  <meta name="description" content="NewsUp is a multi-page oriented template perfect for NewsUp - News, Magazine, Blogging and Article Directory.">
  <meta name="keywords" content="news theme, magazine, blog, article directory, article submission, writer, author, publication, html, bootstrap">
  <meta name="author" content="Sempy Themes">

  <!-- Favicons
      ================================================== -->
  <link rel="shortcut icon" href="/static/newsup/img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap
      ================================================== -->
  <link href="{{ static_url('newsup/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Animate
      ================================================== -->
  <link href="{{ static_url('newsup/css/effect2.css') }}" rel='stylesheet' type='text/css' />
  <link href="{{ static_url('newsup/css/animate.css') }}" rel='stylesheet' type='text/css' />

  <!-- Add fancyBox CSS files -->
  <link href="{{ static_url('newsup/js/fancybox/jquery.fancybox.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Owl Slider CSS -->
  <link href="{{ static_url('newsup/css/owl.carousel.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.theme.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.transitions.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Custom Css
      ================================================== -->
  <link href="{{ static_url('newsup/css/rs-wp-v1.2.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jquery.rs.selectbox.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/responsive.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/self.css') }}" rel="stylesheet" type="text/css" />

  <!-- Custom Fonts
      ================================================== -->
  <link href="{{ static_url('newsup/fonts/stylesheet.css') }}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.1.11.1.js') }}"></script>

</head>
<style media="screen">
  select{
    width: 95px;
    height: 40px;
    background-color: #f6fafd;

  }
</style>

<body>

  <!--- Wrapper -->
  <section id="wrapper" class="clearfix">

    <!--- Header -->
    <header>

      <!-- socialbar -->
      {% module Template("newsup/block-socialbar.html", is_login=is_login, is_ops=is_ops) %}
      <!-- /socialbar -->

      <!-- menubar -->
      {% module Template("newsup/block-menubar.html", is_login=is_login, is_ops=is_ops, league_info=league_info) %}
      <!-- /menubar -->

    </header>
    <!--- End Header -->

    <!-- Page Breadcrumb -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-breadcrumb">
            <a href="/portal/newsup/index"><span>首页</span></a>
            <span>></span>
            <a href="#"><span>{{ category['title'] }}</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Breadcrumb -->


    <!-- Category Banner -->
    <section id="rst-catbanner-item">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% if len(sceneries) == 0 %}
            <div class="rst-catbanner-post">
              <div class="rst-mainslide">
                <img src="http://tripc2c-club-title.b0.upaiyun.com/default/water-001.jpg!800x370" alt="" />
              </div>
            </div>
            {% end %}            
            {% for i in range(len(sceneries)) %}
            {% if i == 0 %}
            <div class="rst-catbanner-post">
              <div class="rst-mainslide">
                <div class="rst-boxinfo">
                  <p><a href="/portal/newsup/item-detail?id={{ sceneries[i]['_id'] }}">{{ sceneries[i]['title'] }}</a></p>
                  <time><i class="fa fa-clock-o"></i>{{ sceneries[i]['publish_time'] }}</time>
                </div>
                <img src="{{ sceneries[i]['img'] }}!800x370" alt="" />
              </div>
            </div>
            {% end %}
            {% end %}

            <div class="rst-catbanner-listpost">
              {% for multimedia in multimedias %}
              <div class="rst-postpic">
                <a href="#"><img src="{{ multimedia['url'] }}!370x370" alt="" /></a>
              </div>
              {% end %}
              <div class="clear"></div>
            </div>

            <!-- <div class="clear"></div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Category Banner -->

    <!-- Category Page Content -->
    <section id="rst-catcontent">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="rst-section-title rst-section-title-box">
              <h4>{{ category['title'] }}</h4>
              <div class="rst-shortmenu" id="sel_wrap">
                <div class="rst-search">
                  <input type="text" id="categorySearchText" onblur="if (this.value == '') {this.value = '关键词';}" onclick=" if (this.value == '关键词') {this.value = '';} " name="s">
                  <a type="button" id="categorySearchBtn"><i class="fa fa-search"></i></a>
                </div>
              </div>
            </div>
            <div class="row rst-cat-postlist" id="articleBox">

            </div>
            <div class="row" id="page-bar">
              <div class="col-xs-12">
                <nav class="wp-pagenavi" id="pagenavi">
                  <a class="page-prev" style="cursor:pointer;" id="prev">上一页</a>
                  <div class="pageBox"></div>
                  <a class="page-next" style="cursor:pointer;" id="next">下一页</a>
                </nav>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            {% if is_login %}
            <aside class="widget widget_hot_news">
              <h3>景区需求</h3>
              <div class="rst-hotnews owl-carousel">
                <ul>
                  {% for i in range(len(requires)) %}
                  {% if i < 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ requires[i]['_id'] }}">{{ requires[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
                <ul>
                  {% for i in range(len(requires)) %}
                  {% if i >= 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ requires[i]['_id'] }}">{{ requires[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
              </div>
            </aside>
            {% end %}

            <!-- begin widget social -->
            {% module Template("newsup/block-widget-social.html") %}
            <!-- end widget social -->

            <!-- begin widget popular -->
            {% module Template("newsup/block-widget-popular.html", populars=products, news=journeies) %}
            <!-- end widget popular -->

            {% if is_login %}
            <aside class="widget widget_hot_news">
              <h3>经验交流</h3>
              <div class="rst-hotnews owl-carousel">
                <ul>
                  {% for i in range(len(communities)) %}
                  {% if i < 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ communities[i]['_id'] }}">{{ communities[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
                <ul>
                  {% for i in range(len(communities)) %}
                  {% if i >= 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ communities[i]['_id'] }}">{{ communities[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
              </div>
            </aside>
            {% end %}

            <!-- begin widget video -->
            {% module Template("newsup/block-widget-video.html") %}
            <!-- end widget video -->

            {% module Template("newsup/block-widget-contactus.html") %}


          </div>
          <!-- End Content Sidebar -->
        </div>
      </div>


    </section>
    <!-- End Category Page Content -->
    <!-- Section Latest Comments -->
    {% module Template("newsup/block-lastest-comments.html", lastest_comments=lastest_comments) %}
    <!-- End Section Latest Comments -->


    <!-- Footer -->
    {% module Template("newsup/block-footer.html", is_login=is_login, is_ops=is_ops) %}
    <!-- End Footer -->

  </section>
  <!--- End Wrapper -->

  <!-- Bootstrap Js Compiled Plugins -->
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap-tagsinput.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/jqBootstrapValidation.js') }}"></script>
  <!-- WoW Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/wow.min.js') }}"></script>
  <!-- Add Fancybox -->
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/jquery.fancybox.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/helpers/jquery.fancybox-media.js') }}"></script>
  <!-- Owl Slider Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/owl.carousel.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/jquery.cityselect.js') }}"></script>
  <!-- Custome Selectbox Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.rs.selectbox.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>
  <script src="{{ static_url('js/vue-2.1.4.js') }}" type="text/javascript"></script>
  <script>
    $(function(){

        function GetQueryString(name){        //获取URL参数
          var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
          var r = window.location.search.substr(1).match(reg);
          if(r!=null)
             return  decodeURI(r[2]);
             return null;
          }

        function getLocalTime(nS) { //时间戳转换
           return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
        };
        var limit = 6;//每页显示数
        var currentPage = 0;//当前页
        var total_page = 0;//总页数
        var q = GetQueryString("q");
        // console.log(q);

        $("#categorySearchText").val(q);
          q  = encodeURI(encodeURI(q));
        function query(pageNum) {
          $.get("{{api_domain}}/api/articles-search?q=" + q + "&filter=category&category_id={{category_id}}&page=1&limit="+limit+"",function(data,status){
                // console.log(data);
                data_obj = JSON.parse(data);
                data = data_obj.rs;
                currentPage = 1;
            var pageData = data.data;
                total_page = data.total_page;//总页
            // num = ajaxobj.length;
            for (var i in pageData) {
              var inner_html = '<article class="col-sm-12 rst-catpost">';
              inner_html += '<div class="rst-postpic">';
              inner_html += '<a href="/portal/newsup/item-detail?id='+ pageData[i]._id + '"><img src="'+ pageData[i].img +'!370x370" alt="" /></a>';
              inner_html += '<a class="rst-postpic-cat" href="#"><span>fitness</span></a>';
              inner_html += '</div>';
              inner_html += '<div class="rst-postinfo">';
              inner_html += '<a class="rst-postpic-cat" href="#"><span>';
                for (var j in pageData[i].categories){
                  inner_html += pageData[i].categories[j].title + '&nbsp;';
                }
              inner_html += '</span></a>';
              inner_html += '<h6><a href="/portal/newsup/item-detail?id='+ pageData[i]._id +'">'+ pageData[i].title +'</a></h6>'
              inner_html += '<time><i class="fa fa-clock-o"></i>'+ getLocalTime(pageData[i].publish_time) +'</time>';
              inner_html += '<p>'+ pageData[i].subtitle +'</p>';
              inner_html += '</div>';
              inner_html += '<div class="clear"></div>';
              inner_html += '</article>';

              $('#articleBox').append(inner_html);
              // member_num += 1;
            };
          if(total_page>5){
              for (var k=1;k<=5;k++){
                var inner_html = '<a class="page-numbers" style="cursor:pointer;" id="num'+k+'">'+ k +'</a>';
                $(".pageBox").append(inner_html);
              };
            }else if(total_page<=5){
              for (var k=1;k<=total_page;k++){
                var inner_html = '<a class="page-numbers" style="cursor:pointer;" id="num'+k+'">'+ k +'</a>';
                $(".pageBox").append(inner_html);
              };
            }
            $("#num1").addClass("current");
          });
        };

        function gotoPage(pageNum) {
          $.get("{{api_domain}}/api/articles-search?q=" + q + "&filter=category&category_id={{category_id}}&page="+pageNum+"&limit="+limit+"",function(data,status){
                // console.log(data);
                data_obj = JSON.parse(data);
                data = data_obj.rs;
                currentPage = pageNum;
            var pageData = data.data;
                total_page = data.total_page;//总页
            $('#articleBox').html("");

            for (var i in pageData) {
              var inner_html = '<article class="col-sm-12 rst-catpost">';
              inner_html += '<div class="rst-postpic">';
              inner_html += '<a href="/portal/newsup/item-detail?id='+ pageData[i]._id + '"><img src="'+ pageData[i].img +'!370x370" alt="" /></a>';
              inner_html += '<a class="rst-postpic-cat" href="#"><span>fitness</span></a>';
              inner_html += '</div>';
              inner_html += '<div class="rst-postinfo">';
              inner_html += '<a class="rst-postpic-cat" href="#"><span>';
                for (var j in pageData[i].categories){
                  inner_html += pageData[i].categories[j].title + '&nbsp;';
                }
              inner_html += '</span></a>';
              inner_html += '<h6><a href="/portal/newsup/item-detail?id='+ pageData[i]._id +'">'+ pageData[i].title +'</a></h6>'
              inner_html += '<time><i class="fa fa-clock-o"></i>'+ getLocalTime(pageData[i].publish_time) +'</time>';
              inner_html += '<p>'+ pageData[i].subtitle +'</p>';
              inner_html += '</div>';
              inner_html += '<div class="clear"></div>';
              inner_html += '</article>';

              $('#articleBox').append(inner_html);
              // member_num += 1;
            };

            pageNext = parseInt((currentPage-1)/5) + 1;

              start = (pageNext-1)*5+1;
              end = pageNext*5;
              if(end > total_page){
                end = total_page;
              }

              $(".pageBox").html("");
              for (var k=start;k<=end;k++){
                var inner_html = '<a class="page-numbers" style="cursor:pointer;" id="num'+k+'">'+ k +'</a>';

                $(".pageBox").append(inner_html);
              };
               $("#num"+currentPage).addClass("current").siblings().removeClass("current");


          });

        };

          query();
          $(document).on('click','.pageBox > a',function(){
            var num = $(this).text();
            gotoPage(num);
            //  $(this).addClass("current").siblings().removeClass("current");
          })

          $("#prev").on("click",function(){
              if(currentPage<=1){

              }else{
                  gotoPage(--currentPage);
                  // $("#num"+currentPage).addClass("current").siblings().removeClass("current");
              }
          });

          $("#next").on("click",function(){
              if(currentPage>=total_page){

              }else{
                  gotoPage(++currentPage);
                  // $("#num"+currentPage).addClass("current").siblings().removeClass("current");
              }
          });
        // $("#categorySearchText").val("关键词");
        $("#categorySearchBtn").on('click',function(){
          var q = $("#categorySearchText").val();
          location.href="/portal/newsup/category-search?q="+q+"&id={{category_id}}";
        });
    });
  </script>
</body>
</html>
