<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NewsUp - News, Magazine and Article Directory Theme</title>
  <meta name="description" content="NewsUp is a multi-page oriented template perfect for NewsUp - News, Magazine, Blogging and Article Directory.">
  <meta name="keywords" content="news theme, magazine, blog, article directory, article submission, writer, author, publication, html, bootstrap">
  <meta name="author" content="Sempy Themes">

  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="/static/newsup/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/newsup/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/newsup/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/newsup/img/apple-touch-icon-114x114.png">

  <!-- Bootstrap
    ================================================== -->
  <link href="{{ static_url('newsup/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jasny-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

  <!-- Animate
    ================================================== -->
  <link href="{{ static_url('newsup/css/effect2.css') }}" rel='stylesheet' type='text/css' />
  <link href="{{ static_url('newsup/css/animate.css') }}" rel='stylesheet' type='text/css' />

  <!-- Add fancyBox CSS files -->
  <link href="{{ static_url('newsup/js/fancybox/jquery.fancybox.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Owl Slider CSS -->
  <link href="{{ static_url('newsup/css/owl.carousel.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.theme.css') }}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/owl.transitions.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <!-- Custom Css
    ================================================== -->
  <link href="{{ static_url('newsup/css/rs-wp-v1.2.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/jquery.rs.selectbox.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ static_url('newsup/css/responsive.css') }}" rel="stylesheet" type="text/css" />

  <!-- Custom Fonts
    ================================================== -->
  <link href="{{ static_url('newsup/fonts/stylesheet.css') }}" rel="stylesheet" type="text/css" />

  <!-- Google Fonts
    ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.1.11.1.js') }}"></script>

</head>

<body>

  <!--- Wrapper -->
  <section id="wrapper" class="clearfix">

    <!--- Header -->
    <header>

      <!-- socialbar -->
      {% module Template("newsup/block-socialbar.html", is_login=is_login) %}
      <!-- /socialbar -->

      <!-- menubar -->
      {% module Template("newsup/block-menubar.html") %}
      <!-- /menubar -->

    </header>
    <!--- End Header -->

    <!-- Home page Main Slider -->
    <section id="rst-home-mainslider">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="rst-mainslider owl-carousel">
              <div class="rst-mainslide">
                <img src="http://tripc2c-club-title.b0.upaiyun.com/default/banner.jpg!800x640" alt="" />
                <div class="rst-boxinfo">
                  <a href="/portal/newsup/franchise"><span>sport</span></a>
                  <p><a href="#">What have you do to make 2017 your best year ever?</a></p>
                  <time><i class="fa fa-clock-o"></i>12 dec, 2016</time>
                </div>
              </div>
              <div class="rst-mainslide">
                <img src="http://tripc2c-club-title.b0.upaiyun.com/default/banner2.jpg!800x640" alt="" />
                <div class="rst-boxinfo">
                  <a href="/portal/newsup/franchise"><span>sport</span></a>
                  <p><a href="#">What have you do to make 2017 your best year ever?</a></p>
                  <time><i class="fa fa-clock-o"></i>12 dec, 2016</time>
                </div>
              </div>
            </div>
            <!-- end slider -->
            <div class="rst-mainslider-posts">
              <div class="rst-posttype">
                <img src="http://tripc2c-club-title.b0.upaiyun.com/default/franchise.jpg!370x320" alt="" />
                <div class="rst-boxinfo">
                  <a href="/portal/newsup/franchise"><span>supplier</span></a>
                  <p><a href="#">Curabitur erat massa, rutrum sed fermentum in placerat.</a></p>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                </div>
              </div>
              <div class="rst-posttype">
                <img src="http://tripc2c-club-title.b0.upaiyun.com/default/distributor.jpg!370x320" alt="" />
                <div class="rst-boxinfo">
                  <a href="/portal/newsup/franchise"><span>distributor</span></a>
                  <p><a href="#">Sed ut auctor felis. Faucibus semper ex et dapibus.</a></p>
                  <time><i class="fa fa-clock-o"></i>12 sep, 2015</time>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <!-- end posts -->
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Main Slider -->

    <!-- Pageline -->
    <div class="rst-pageline container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-pageline-content">
            <span>诚邀加盟</span>
            <div class="rst-pageline-slider owl-carousel">
              <p>诚邀供应商加盟，精诚合作，互相促进，共创美好未来！</p>
              <p>优化资源、独立经营、市场化运作、相互促进</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end pageline -->

    <!-- Section Popular -->
    <section id="rst-popular">
      <div class="container">
        <div class="row">
          <div class="rst-section-title">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h4>热门景区</h4>
                </div>
              </div>
            </div>
          </div>
          {% for article in populars %}
          <article class="col-sm-3 col-xs-6">
            <div class="rst-postpic">
              <a href="/portal/newsup/item-detail?id={{ article['_id'] }}"><img src="{{ article['img'] }}!270x190" alt="" /></a>
            </div>
            <div class="rst-postinfo">
              <h6><a href="/portal/newsup/item-detail?id={{ article['_id'] }}">{{ article['title'] }}</a></h6>
              <time><i class="fa fa-clock-o"></i>{{ article['publish_time'] }}</time>
              <p>{{ article['subtitle'] }}</p>
            </div>
          </article>
          {% end %}
        </div>
      </div>
    </section>
    <!-- End Section Popular -->

    <!-- Section Scenery -->
    <section id="rst-life">
      <div class="container">
        <div class="row">
          <div class="rst-section-title rst-section-title-box">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h4>景区展示</h4>
                  <div class="rst-section-title-short">
                    <a href="/portal/newsup/category?id=9b876004e94711e69b1c00163e023e51"><span>查看全部</span></a>
                    <div class="rst-shortmenu">
                      <a href="#"><i class="fa fa-bars"></i></a>
                      <ul>
                        <li><a href="#">Sugar</a></li>
                        <li><a href="#">Chili</a></li>
                        <li><a href="#">pepper</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for i in range(len(sceneries)) %}
          {% if i == 0 %}
          <article class="col-sm-6 rst-leftpost">
            <div class="rst-specpost owl-carousel">
              <a href="/portal/newsup/item-detail?id={{ sceneries[i]['_id'] }}"><img src="{{ sceneries[i]['img'] }}!570x334" alt="" /></a>
            </div>
            <div class="rst-postinfo">
              <h6><a href="/portal/newsup/item-detail?id={{ sceneries[i]['_id'] }}">{{ sceneries[i]['title'] }}</a></h6>
              <time><i class="fa fa-clock-o"></i>{{ sceneries[i]['publish_time'] }}</time>
              <p>{{ sceneries[i]['subtitle'] }}</p>
            </div>
          </article>
          {% end %}
          {% end %}
          <div class="col-sm-6 rst-rightpost">
            {% for i in range(len(sceneries)) %}
            {% if i > 0 %}
            <article>
              <div class="rst-postpic">
                <a href="/portal/newsup/item-detail?id={{ sceneries[i]['_id'] }}"><img src="{{ sceneries[i]['img'] }}!140x106" alt="" /></a>
              </div>
              <div class="rst-postinfo">
                <h6><a href="/portal/newsup/item-detail?id={{ sceneries[i]['_id'] }}">{{ sceneries[i]['title'] }}</a></h6>
                <time><i class="fa fa-clock-o"></i>{{ sceneries[i]['publish_time'] }}</time>
                <p>{{ sceneries[i]['subtitle'] }}</p>
              </div>
            </article>
            {% end %}
            {% end %}
          </div>
        </div>
      </div>
    </section>
    <!-- End Section Scenery -->

    <!-- Pageline -->
    <div class="rst-pageline container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-pageline-content">
            <span>优秀景区</span>
            <div class="rst-pageline-slider owl-carousel">
              <p>优化资源、独立经营、市场化运作、相互促进</p>
              <p>诚邀景区加盟，精诚合作，互相促进，共创美好未来！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end pageline -->


    <!-- Section journey -->
    <section id="rst-sport">
      <div class="rst-section-title rst-section-title-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4>需求发布</h4>
              <div class="rst-section-title-short">
                <a href="/portal/newsup/category?id=0e9a3c68e94511e6b40600163e023e51"><span>查看全部</span></a>
                <div class="rst-shortmenu">
                  <a href="#"><i class="fa fa-bars"></i></a>
                  <ul>
                    <li><a href="#">Sugar</a></li>
                    <li><a href="#">Chili</a></li>
                    <li><a href="#">pepper</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for i in range(len(journeies)) %}
          {% if i == 0 %}
          <article class="col-sm-6 rst-leftpost">
            <div class="rst-specpost owl-carousel">
              <a href="/portal/newsup/item-detail?id={{ journeies[i]['_id'] }}"><img src="{{ journeies[i]['img'] }}!570x334" alt="" /></a>
            </div>
            <div class="rst-postinfo">
              <h6><a href="/portal/newsup/item-detail?id={{ journeies[i]['_id'] }}">{{ journeies[i]['title'] }}</a></h6>
              <time><i class="fa fa-clock-o"></i>{{ journeies[i]['publish_time'] }}</time>
              <p>{{ journeies[i]['subtitle'] }}</p>
            </div>
          </article>
          {% end %}
          {% end %}
          <div class="col-sm-6 rst-rightpost">
            {% for i in range(len(journeies)) %}
            {% if i > 0 %}
            <article>
              <div class="rst-postpic">
                <a href="/portal/newsup/item-detail?id={{ journeies[i]['_id'] }}"><img src="{{ journeies[i]['img'] }}!140x106" alt="" /></a>
              </div>
              <div class="rst-postinfo">
                <h6><a href="/portal/newsup/item-detail?id={{ journeies[i]['_id'] }}">{{ journeies[i]['title'] }}</a></h6>
                <time><i class="fa fa-clock-o"></i>{{ journeies[i]['publish_time'] }}</time>
                <p>{{ journeies[i]['subtitle'] }}</p>
              </div>
            </article>
            {% end %}
            {% end %}
          </div>
        </div>
      </div>
    </section>
    <!-- End Section journey -->

    <!-- One minute for advertising -->
    <div class="rst-adv">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="#"><img src="/static/newsup/images/ad02.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Section News and Hot -->
    <section id="rst-newsandhot">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="rst-section-title">
              <h4>旅游资讯</h4>
            </div>
            <div class="rst-newsandhot-post">
              <div class="rst-newsandhot-post-content">
                {% for article in news %}
                <article>
                  <div class="row">
                    <div class="rst-postpic col-sm-6">
                      <a href="/portal/newsup/item-detail?id={{ article['_id'] }}"><img src="{{ article['img'] }}!370x278" alt="" /></a>
                    </div>
                    <div class="rst-postinfo col-sm-6">
                      <h6><a href="/portal/newsup/item-detail?id={{ article['_id'] }}">{{ article['title'] }}</a></h6>
                      <time><i class="fa fa-clock-o"></i>{{ article['publish_time'] }}</time>
                      <p>{{ article['subtitle'] }}</p>
                      <a href="#" class="rst-info-viewlink"><span>查看详情</span><i class="fa fa-comments"></i></a>
                    </div>
                  </div>
                </article>
                {% end %}
              </div>
              <a href="#" class="rst-loadmore">查看更多</a>
            </div>
          </div>
          <div class="col-sm-4">
            <aside class="widget widget_hot_news">
              <h3>经验交流</h3>
              <div class="rst-hotnews owl-carousel">
                <ul>
                  {% for i in range(len(hots)) %}
                  {% if i < 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ hots[i]['_id'] }}">{{ hots[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
                <ul>
                  {% for i in range(len(hots)) %}
                  {% if i >= 6 %}
                  <li>
                    <p><a href="/portal/newsup/item-detail?id={{ hots[i]['_id'] }}">{{ hots[i]['title'] }}</a></p>
                  </li>
                  {% end %}
                  {% end %}
                </ul>
              </div>
            </aside>
            <!-- end widget hot and news -->

            <!-- begin widget social -->
            {% module Template("newsup/block-widget-social.html") %}
            <!-- end widget social -->

            <!-- begin widget popular -->
            {% module Template("newsup/block-widget-popular.html", populars=populars, news=news) %}
            <!-- end widget popular -->

            <!-- begin widget adv -->
            {% module Template("newsup/block-widget-adv.html", activities=activities) %}
            <!-- end widget adv -->

          </div>
        </div>
      </div>
    </section>
    <!-- End Section News and Hot -->

    <!-- Pageline -->
    <div class="rst-pageline container">
      <div class="row">
        <div class="col-xs-12">
          <div class="rst-pageline-content">
            <span>旅游资讯</span>
            <div class="rst-pageline-slider owl-carousel">
              <p>全面的旅游吃、住、行、游、购、娱六要素的各方面信息。</p>
              <p>不仅包括景区的信息，也包括旅游产品供应商的信息。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end pageline -->

    <!-- Section Multimedia -->
    <section id="rst-multimedia">
      <div class="rst-section-title rst-section-title-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h4>精彩瞬间</h4>
              <div class="rst-section-title-short">
                <a href="/portal/newsup/media"><span>查看全部</span></a>
                <div class="rst-shortmenu">
                  <a href="#"><i class="fa fa-bars"></i></a>
                  <ul>
                    <li><a href="#">Sugar</a></li>
                    <li><a href="#">Chili</a></li>
                    <li><a href="#">pepper</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="rst-mediagrid">
              <div class="div">
                {% for multimedia in multimedias %}
                <div class="rst-col rst-col-25">
                  <div class="rst-postpic">
                    <a href="#"><img src="{{ multimedia['url'] }}!293x293" alt="" /></a>
                  </div>
                  <div class="rst-postinfo">
                    <a href="#"><span>Sport</span></a>
                    <h6><a href="#">Lorem ipsum dolor sit amet consectetur.</a></h6>
                    <time><i class="fa fa-clock-o"></i>{{ multimedia['publish_time'] }}</time>
                  </div>
                </div>
                {% end %}
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Section Multimedia -->

    <!-- Section Latest Comments -->
    {% module Template("newsup/block-lastest-comments.html", lastest_comments=lastest_comments) %}
    <!-- End Section Latest Comments -->

    <!-- Footer -->
    {% module Template("newsup/block-footer.html") %}
    <!-- End Footer -->

  </section>
  <!--- End Wrapper -->


  <!-- Bootstrap Js Compiled Plugins -->
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/bootstrap-tagsinput.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/jqBootstrapValidation.js') }}"></script>

  <!-- WoW Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/wow.min.js') }}"></script>

  <!-- Add Fancybox -->
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/jquery.fancybox.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('newsup/js/fancybox/helpers/jquery.fancybox-media.js') }}"></script>

  <!-- Owl Slider Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/owl.carousel.js') }}"></script>

  <!-- Weather Js -->
  <!--
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.simpleWeather.js') }}"></script>
  -->

  <!-- Custome Selectbox Js -->
  <script type="text/javascript" src="{{ static_url('newsup/js/jquery.rs.selectbox.js') }}"></script>

  <script type="text/javascript" src="{{ static_url('js/main.js') }}"></script>

</body>

</html>
